@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/* Navbar CSS */

.navbar {
  height: 80px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
  font-family: "Irish Grover", system-ui;
}

.links a {
  text-decoration: none;
  color: cornflowerblue;
  margin-left: 20px;
  font-size: 25px;
}
